.mito-container {
    display: flex;
    flex-direction: column;
}

/* shade toolbar grey and set to the length of the mito sheet */
.toolbar {
    background-color: #C2C2C2;
    width: 100%;
}

.modal{
    /* Render above other divs */
    z-index: 2;
    position: absolute;

    width: 100%;
    align-items: center;
    text-align: center;

    margin-top: 30px;
}